<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Deploy to staging environment for customer to test</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.39">
      <project>package</project>
      <filter>**/*.war</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
  </builders>
  <publishers>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger plugin="build-pipeline-plugin@1.5.7.1">
      <configs/>
      <downstreamProjectNames>deploy-to-prod</downstreamProjectNames>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger>
    <hudson.plugins.deploy.DeployPublisher plugin="deploy@1.13">
      <adapters>
        <hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
          <credentialsId>f85b1273-c05e-4def-af79-3e4148ad453a</credentialsId>
          <url>http://localhost:8090</url>
        </hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
      </adapters>
      <contextPath></contextPath>
      <war>**/*.war</war>
      <onFailure>false</onFailure>
    </hudson.plugins.deploy.DeployPublisher>
  </publishers>
  <buildWrappers/>
</project>